@tailwind base;
@tailwind components;
@tailwind utilities;

.chat-box-holder h1 {
  @apply text-2xl font-bold;
}
.chat-box-holder h2 {
  @apply text-xl font-bold;
}
.chat-box-holder h3 {
  @apply font-bold text-lg;
}
.chat-box-holder h4 {
  @apply text-base text-slate-700 font-bold;
}
.chat-box-holder h5 {
  @apply text-base text-slate-600 underline font-bold;
}
.chat-box-holder h6 {
  @apply text-sm text-slate-600 font-bold;
}
.chat-box-holder p {
  @apply text-base text-justify;
}
.chat-box-holder a {
  @apply text-gray-700 underline underline-offset-1;
}
.chat-box-holder a::after {
  content: "";
  background: url("data:image/svg+xml,%3Csvg stroke='currentColor' fill='none' stroke-width='2' viewBox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' height='200px' width='200px' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6'%3E%3C/path%3E%3Cpolyline points='15 3 21 3 21 9'%3E%3C/polyline%3E%3Cline x1='10' x2='21' y1='14' y2='3'%3E%3C/line%3E%3C/svg%3E") no-repeat center;
  @apply w-4 h-4 inline-block ml-1;
  background-size: contain;
}
.img-holder img {
  @apply rounded-md max-w-xl overflow-hidden;
}

.table-holder {
  @apply w-full overflow-x-auto rounded-lg;
}

table,
th,
td {
  @apply border-black border-collapse w-fit;
  border: 1px solid black;
}

table {
  @apply rounded-md sm:mx-4 mx-2 max-w-lg overflow-x-auto;
  outline: 1px solid black;
  outline-offset: -1px;
  overflow: hidden;
}

th,
td {
  @apply px-2;
}

.chat-box-holder ul {
  @apply space-y-1 list-disc list-inside;
}
.chat-box-holder :where(ul>li)::marker{
  @apply text-gray-600;
}

.chat-box-holder ol {
  @apply space-y-4 list-decimal list-inside;
}

.chat-box-holder p code{
  @apply bg-slate-100 px-1 rounded-md
}
.chat-box-holder li code{
  @apply bg-slate-100 px-1 rounded-md
}

.def-nano-logo-txt{
  @apply duration-300 drop-shadow-md;
  color: #1aa7ec;
  background: linear-gradient(74deg, #4285f4 10%, #9b72cb 50%, #d96570 80%, #d96570 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 200%;
  animation: gradientShift 10s infinite ease-in-out;
  font-family: Google Sans, Helvetica Neue, sans-serif;
}
@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.def-loading-box {
    @apply relative overflow-hidden rounded-xl mt-2;
  }
  
  /* Gradient animation */
  .def-loading-box::before {
    @apply absolute top-0 left-0 w-full h-full z-10;
    content: "";
    background: linear-gradient(
      to right,
      #f1f5f900,
      #f8fafc,
      #f1f5f900
    ); /* Gradient from gray to white */
    animation: slideGradient 0.5s alternate-reverse infinite;
  }
  @keyframes slideGradient {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(50%);
    }
  }
  .def-img-with-loading {
    @apply rounded-md max-w-lg bg-slate-100 h-44 select-none;
  }
  .def-loading-svg {
    animation: rotate 2s linear infinite;
  }
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @layer base {
  :root {
    --radius: 0.5rem;
  }
}

.def-back-btn {
  @apply bg-slate-100 bg-opacity-50 z-20 backdrop-blur-sm transition-all visible w-8 h-8 rounded-lg flex items-center justify-center duration-300 cursor-pointer hover:bg-slate-200;
}
.def-back-btn svg {
  @apply w-4 h-4 duration-300 hover:translate-x-[-2px];
}