.suggestions-overlay span{
  @apply text-slate-500;
}
.suggestions-overlay .tab{
  @apply rounded shadow-sm drop-shadow overflow-hidden inline-flex px-1 ml-1;
  transform-origin: center left;
  transform: scale(50%) !important;
  border: 1px solid black;
  font-size: inherit;
  font-family: inherit;
}